@page "/"
@using Repos.Interface
@using Model.Entities
@inject IRepository<Answers> AnswerRepository;
@inject IRepository<Questions> QuestionsRepository;
@inject IRepository<Scores> ScoresRepository;
<PageTitle>Index</PageTitle>

<h1>Hello, Startseite!</h1>






@code {


    protected override void OnInitialized()
    {
 
    }

}
