@page "/"
@using Repos.Interface
@using Model.Entities
@inject NavigationManager NavigationManager
@inject IRepository<Scores> ScoresRepository

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="row">
        <h1>Antriebsrätsel</h1>
    </div>
    <div class="row">
        
    <div id="content1">
        
        <button id="btn_question" @onclick="AddQuestionPage">Add Question</button>
        <div id="content2">

            <p id="highscore">Highscore</p>          
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Player Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                
                @foreach (var score in topScores)
                {
                    <tr>
                        <td>@score.PlayerName</td>
                        <td>@score.Score</td>
                    </tr>
                }

                </tbody>
            </table>
            <button id="btn_change_name" @onclick="ChangeNamePage">Change Name</button>
            <button id="btn_highscore" @onclick="HighscorePage">Scoreboard</button>
        </div>

        <button id="btn_play"  @onclick="PlayGame">Play</button>
    </div>

    </div>
</div>
    


@code {

    private List<Scores> topScores;
    
    protected override void OnInitialized()
    {
        // Load the top 10 scores from the repository
            topScores = ScoresRepository.ReadAll()
                .OrderByDescending(s => s.Score)
                .Take(7)
                .ToList();
    }

    
    private void AddQuestionPage()
    {
        NavigationManager.NavigateTo("/CreateQuestion");
    }
    private void HighscorePage()
    {
        NavigationManager.NavigateTo("/Scoreboard/10");
    }
    private void ChangeNamePage()
    {
        NavigationManager.NavigateTo("/ChangeName");
    }
    private void PlayGame()
    {
        NavigationManager.NavigateTo("/play");
    }
}
