@page "/test"
@using Repos.Interface
@using Model.Entities
@inject IRepository<Answers> AnswerRepository;
@inject IRepository<Questions> QuestionsRepository;
@inject IRepository<Scores> ScoresRepository;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>Answere: @a.AnswerText</p>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    public List<Answers> answers = new List<Answers>();
    public Answers a = new Answers();
    protected void OnInitialized()
    {
        base.OnInitialized();
        answers = AnswerRepository.ReadAll();
        a = AnswerRepository.Read(1);
    }
}
